body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f6f8;
}

nav{
    background:#b30000;
    color:white;
    padding:16px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
}

.home-container{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:85vh;
}

.home-card{
    background:white;
    width:100%;
    max-width:800px;
    padding:50px;
    border-radius:12px;
    box-shadow:0 8px 25px rgba(0,0,0,0.08);
    text-align:center;
}

.buttons{
    margin:30px 0;
}

.btn{
    padding:14px 25px;
    margin:10px;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

.btn-red{
    background:#b30000;
    color:white;
}

.btn-white{
    background:white;
    color:#b30000;
    border:2px solid #b30000;
}

.counter-box{
    margin-top:20px;
    padding:20px;
    background:#bc2d2d;
    border-radius:8px;
}

.form-container{
    max-width:400px;
    margin:60px auto;
    background:white;
    padding:40px;
    border-radius:10px;
    box-shadow:0 8px 25px rgba(0,0,0,0.08);
    text-align:center;
}

form input, form select{
    width:100%;
    padding:10px;
    margin:10px 0;
}

.back{
    margin-top:20px;
    background:none;
    border:none;
    color:#b30000;
    cursor:pointer;
}

.result-card{
    background:#f9f9f9;
    padding:15px;
    margin-top:15px;
    border-left:5px solid #b30000;
    border-radius:5px;
}

.phone-group{
    display:flex;
    gap:8px;
}

.phone-group select{
    width:45%;
}

.phone-group input{
    width:55%;
}

.nav-controls{
    position:absolute;
    right:20px;
    top:12px;
    display:flex;
    gap:10px;
}

#languageSelect{
    padding:5px;
    border-radius:5px;
}

#themeToggle{
    padding:6px 10px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

/* DARK MODE */

body.dark{
    background:#121212;
    color:white;
}

body.dark nav{
    background:#1f1f1f;
}

body.dark .home-card,
body.dark .form-container{
    background:#1e1e1e;
    color:white;
}

body.dark .btn-white{
    background:#333;
    color:white;
    border:1px solid white;
}

body.dark .result-card{
    background:#2a2a2a;
}


.home-card {
    background-color: rgba(255, 255, 255, 0.9);
}

